.App-logo {
	height: 50px;
}
.foot-logo {
	height: 30px !important;
}
.navbar {
	height: 13vh;
}
.nav-link {
	color: white;
}
.content {
	margin-top: 15vh;
	min-height: 65vh;
}
.footer {
	margin-top: 1vh;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid grey;
	background-color: #343a40;
}
.footer a {
	color: grey;
}
.black {
	color: black;
}
.warning {
	color: orange;
}
.success {
	color: green;
}
.primary {
	color: blue;
}
.danger {
	color: red;
}
